{{> head}}
  {{> navbar}}

  <div class="row">
    <div class="col-8">
      <h1>Gatitos</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse possimus porro perferendis ipsam laudantium iure harum, mollitia id, dolorum ea, sapiente consectetur voluptatem veniam. Dicta eligendi ipsa amet temporibus ullam!</p>
    </div>
    <div class="col-4">
      <img src="assets/img/gatito.jpg" class="img-thumbnail">
    </div>
  </div>

{{> footer}}